body {
    background-color: rgb(34, 32, 32);
}
button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgb(97, 91, 91);
    color:white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}