#title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #000000;
  margin: 0; /* remove default h1 spacing */
  font-size: 20px;
  border-radius: 25px 25px 0 0;
}

.box1 {
  padding: 1px;
  width: 1000px;
  height: 35px;
  margin: 0 auto;
  background-color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box2 {
  padding: 1px;
  width: 1000px;
  height: 35px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: lighter;
  justify-content: center;
  
}
.box3 {
  border: 1px outset #2369c5;
  padding: 1px;
  width: 1000px;
  height:800px;
  margin: 0 auto;
  background-color: #2369c5;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
body {
  background-color: #2369c5;
}
textarea {
  width: 95%;
  height: 90%;
  border: 2px solid;
  background-color: rgb(255, 255, 255);
  color: rgb(9, 12, 9);
}
 