#title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: black;
  margin: 0; /* remove default h1 spacing */
  font-size: 20px;
}

.box1 {
  padding: 1px;
  width: 1000px;
  height: 35px;
  margin: 0 auto;
  background-color: rgb(211, 202, 202);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box2 {
  padding: 1px;
  width: 1000px;
  height: 35px;
  margin: 0 auto;
  background-color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: lighter;
  justify-content: center;
  
}
.box3 {
  border: 1px outset black;
  padding: 1px;
  width: 1000px;
  height:800px;
  margin: 0 auto;
  background-color: rgb(211,202,202);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
body {
  background-color: rgb(44, 41, 41);
}
textarea {
  width: 95%;
  height: 90%;
  border: 2px solid;
  background-color: rgb(255, 255, 255);
  color: rgb(97,207,90);
}
 