html, body{
    background-color: rgb(48, 45, 45);
}
.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin:0 auto;
    margin-top: 1.5rem;
    background: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 6px 18px rgba(255, 255, 255, 0.12);
}
.buttons button {
    min-width: 80px;
    height:35px;
    border-radius: 6px;
    border: 2px solid rgba(255,255,255,0.95);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
#start{
    background-color: rgb(19, 143, 25);
}
#start:hover{
    background-color: rgb(21, 131, 27);
}
#stop{
    background-color: red;
}
#stop:hover{
    background-color: rgb(219, 10, 10);
    outline:red;
}
#reset{
    background-color:rgb(18, 117, 197);
}
#reset:hover{
    background-color:rgb(21, 110, 184);
}
#title{
    color:white;
    font-family: 'Trebuchet MS', sans-serif;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 300%;
    margin-top: 1.5rem;
    font-weight:100;
}
#time{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 300%;
    margin-top: 0.5rem;    
}
#stopwatch{
    color:white;
    max-width:200px;
    width:100%;
    height:auto;
    display:block;
    margin:1.5rem auto 0;
}
