html, body{
    background-color: rgb(48, 45, 45);
}
.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin:0 auto;
    margin-top: 21%;
}
.buttons button {
    flex: 0 0 8%;
    height:35px;
    border-radius: 4px;
    border:none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
#start{
    background-color: rgb(19, 143, 25);
}
#start:hover{
    background-color: rgb(21, 131, 27);
}
#stop{
    background-color: red;
}
#stop:hover{
    background-color: rgb(219, 10, 10);
    outline:red;
}
#reset{
    background-color:rgb(18, 117, 197);
}
#reset:hover{
    background-color:rgb(21, 110, 184);
}
#title{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 300%;
    margin-top: 3%
}
#time{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 300%;
    margin-top: 1.5%;
    
}