<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/bamboo.css" type="text/css">
  </head>
  <body>
    <h1>Login</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="post">
      <div>
        <label>Username</label>
        <input name="username" required />
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="password" required />
      </div>
      <br>
      <button type="submit">Login</button>
    </form>

    <p>New here? <a href="{{ url_for('register') }}">Create an account</a></p>
  </body>
  </html>

